body {
  background-color: black;
  color: white;
}
.chat-list{
  list-style: none;
}

.nav-top {
  background: white;
  color: black;
  padding: 25px;
}

.nav-top ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline;
  font-weight: bolder;
}

.nav-top li{
  display: inline;
}

.login{
  margin-left: 75%;
  padding-right: 10px;
}

.logout{
  margin-left: 75%;
  padding-right: 10px;
  display: inline;
}

.top-div{
  margin-top: 50px;
  text-align: center;
}

.room{
  background-color: white;
}

.room-Choice{
  list-style: none;
}

.chat-list{
  list-style: none;
}

.chadTime{
  font-size: 2rem;
  font-weight: bolder;
}

.tagline {
  font-size: 1rem;
  font-weight: lighter;
}
.loginform {
  text-align: right;
  font-size: 1px;
  background-color: white;
  padding: 20px;
  padding-right: 80px;
}

.regform {
  text-align: right;
  font-size: 1px;
  background-color: white;
  padding: 20px;
  padding-right: 80px;
}

.logout-btn {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
/* /////////ROOMS */

.roomNav-Choice {
  background-color: white;
  text-align: center;
  width: 20%;
  padding: 20px;
  margin: 0px;
}
.roomNav-Choice li{
  padding: 20px;
}
.room-button {
  border: none;
  color: black;
  background-color: white;
  padding: 5px 32px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.room-button:focus, .room-button:hover  {
  border: none;
  color: white;
  background-color: black;
  padding: 5px 32px;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

/* ///////////CHAT DISPLAY */
.roomAndChatDisplay{
  display: flex;
  background-color: #202124;
}
.chatDisplay{
  display: inline;
  width: 90%;
}
/* ///////////chatform */

.chatForm {
  display: inline;
  padding-left: 5%;
}

/* ///////////chatlist */

.chatList{
  list-style: none;
}
.chatlist button{
  border: none;
  color: black;
  background-color: white;
  padding: 5px 32px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

/* ///////////chatitem */

.chat-list-text{
padding-right: 100px;
}

.chat-item button{
  border: none;
  background-color: inherit;
  color: white;
  padding: 5px 32px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
